# # MATLAB
*.asv

# Figures générées
*.fig
*.png

# Variables MATLAB
*.mat

# Fichiers système
Thumbs.db
Desktop.ini
.DS_Store

# Données LISST-Holo2
01_Raw data/
02_Cleaned data/
03_Processed data/
04_Data analysis/
